<h2 class="page-header">NEWS</h2>


{{#if news}}
      {{#each news}}
      <tr>
        {{!-- <th> {{PUBLISHER}}</th> --}}
        {{!-- <th></th> --}}
        <th> <a onclick="clicked()" id="{{ID}}" href="{{URL}}">{{TITLE}}  {{ID}}  {{CATEGORY}}</a> </th>
        <br>
        </tr>
      {{/each}}
{{/if}}

<script>
  function clicked(){
    console.log("in clicked function");
  }
  document.onclick = function (e) {
  e = e ||  window.event;
  var element = e.target || e.srcElement;
  console.log("lkjlkjlkjljljljljljjlj");
  if (element.tagName == 'A') {
      console.log("element.ID " +element.id);
     // alert(encodeURI(element.href),element.href);
      window.location = "/news/process/" + encodeURI(element.id);
      
    //  window.location = "/process/"
    //someFunction(element.href);
    return false; // prevent default action and stop event propagation
  }
};
</script>